# This is Git's per-user configuration file.
[user]
	name = Ivan Gonzalez
	email = scratchmex@gmail.com
[credential]
	# linux helper keyring
	helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret
	# windows cred helper
	helper = /mnt/c/Program\\ Files/Git/mingw64/libexec/git-core/git-credential-manager.exe
